<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TrucoPrueba1.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <userSettings>
    <TrucoPrueba1.Properties.Settings>
      <setting name="languageCode" serializeAs="String">
        <value>en-US</value>
      </setting>
    </TrucoPrueba1.Properties.Settings>
  </userSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="baseDatosPruebaEntities" connectionString="metadata=res://*/baseDatosTruco.csdl|res://*/baseDatosTruco.ssdl|res://*/baseDatosTruco.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=baseDatosPrueba;user id=UserMaster;password=chimalhuacan;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
 <system.serviceModel>
    <bindings>
       <netTcpBinding>
          <binding name="NetTcpBinding_ITrucoUserService">
             <security>
                <transport sslProtocols="None" />
             </security>
          </binding>
          <binding name="NetTcpBinding_ITrucoMatchService">
             <security>
                <transport sslProtocols="None" />
             </security>
          </binding>
          <binding name="NetTcpBinding_ITrucoFriendService">
             <security>
                <transport sslProtocols="None" />
             </security>
          </binding>
       </netTcpBinding>
    </bindings>
    <client>
       <endpoint address="net.tcp://localhost:8091/TrucoServiceBase/user"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ITrucoUserService"
          contract="TrucoServer.ITrucoUserService" name="NetTcpBinding_ITrucoUserService">
          <identity>
             <userPrincipalName value="VICTUS\themr" />
          </identity>
       </endpoint>
       <endpoint address="net.tcp://localhost:8091/TrucoServiceBase/match"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ITrucoMatchService"
          contract="TrucoServer.ITrucoMatchService" name="NetTcpBinding_ITrucoMatchService">
          <identity>
             <userPrincipalName value="VICTUS\themr" />
          </identity>
       </endpoint>
       <endpoint address="net.tcp://localhost:8091/TrucoServiceBase/friend"
          binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ITrucoFriendService"
          contract="TrucoServer.ITrucoFriendService" name="NetTcpBinding_ITrucoFriendService">
          <identity>
             <userPrincipalName value="VICTUS\themr" />
          </identity>
       </endpoint>
    </client>
  </system.serviceModel>
</configuration>