<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="baseDatosPruebaEntities" 
             connectionString="metadata=res://*/baseDatosTruco.csdl|res://*/baseDatosTruco.ssdl|res://*/baseDatosTruco.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=baseDatosPrueba;user id=UserMaster;password=chimalhuacan;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>

    <system.serviceModel>
        <client>
            <endpoint address="net.tcp://localhost:8091/TrucoService" 
                      binding="netTcpBinding"
                      bindingConfiguration="NetTcpBinding_ITrucoService" 
                      contract="TrucoServer.ITrucoService"
                      name="NetTcpBinding_ITrucoService">
                <identity>
                    <userPrincipalName value="VICTUS\themr" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>